body{
  background-color: #f7eeee;
}

.meni{
  text-align: center;
  font-family: sans-serif;
}

ul {
    font-size: 0;
}

li {
  font-size:1.4rem;
  display: inline;
}

.meni li{
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color:	#8f244d;
}

.meni li:hover{
  background-color: #C60139;
}

img {
  height: 100px;
  margin-bottom: 10px;
}

@media screen and (max-width: 700px)
{
  li{
    display: block;
  }

  .meni a{
    display: block;
  }
}
