.okvir{
  display: grid;
  grid-template-columns:1fr 2fr 2fr 1fr;
  grid-gap: 50px;
  padding: 100px;
}

#login{
  grid-column-start: 2;
  grid-column-end: 3;
}

#registration{
  grid-column-start: 3;
  grid-column-end: 4;
}

input, select, button {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  border-style: hidden;
}

input[type = submit],button{
  background-color:#e06c52;

}

#registrujProfesora{
  background-color:#f0b5a8;
}

#formaProfesor{
  display: none;
}

input[type = submit]:hover,button:hover, #registrujProfesora:hover{
  background-color: #c34022;
}

#errorDiv{
  color:#c32237;
  font-weight: bold;
}

@media screen and (max-width: 700px)
{
  .okvir{
      grid-template-columns: 1fr;
  }

  #login, #registration{
      grid-column-start: 1;
      grid-column-end: 2;
  }
}
