input, select, button,textarea {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  border-style: hidden;
}

textarea{
  height: 200px;
}
button{
  background-color: #e06c52;
  border-style: none;
  padding: 10px;
}

button:hover{
  background-color: #c34022;
}
