.okvir{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(7, auto);
  border:none;
  margin:20px;
}

div{
  border: none;
}

h2{
  display: inline;
}

p{
  float: right;
}

table, th, td{
  border-style: none;
  padding:10px;
  width: 90%;
  text-align: center;
}

th{
  background-color: #eda891;
}

textarea{
  width: 100%;
  height: 100%;
  min-height: 200px;
}

.naslov, .podnaslov, .comments_title, .comments, .comments_spirala, .page_buttons{
  grid-column-start: 1;
  grid-column-end:4;
}

.naslov, .comments_title
{
  background-color: #e06c52;
}

.student_information{
  grid-column-start: 1;
  grid-column-end: 2;
}

.table{
  grid-column-start: 2;
  grid-column-end: 4;
}

.comments_title, .comments_spirala, .page_buttons{
  text-align: center;
}

.comments{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  grid-gap: 10px;
  grid-auto-rows: minmax(200px, auto);
}

button{
  background-color: #e06c52;
  border-style: none;
  padding: 10px;
}

button:hover{
  background-color: #c34022;
}

@media screen and (max-width: 700px)
{
  .okvir{
    grid-template-rows: repeat(13,auto);
  }

  .student_information, .table{
    grid-column-start: 1;
    grid-column-end:4;
  }

  .comments{
    display:block;
  }

  .comments_spirala{
    min-height: 100px;
  }

}
