.okvir{
  margin-top:20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  text-align: center;
}

table,tr, td, th{
  border-style: hidden;
}

table{
  width: 100%;
}

td{
  background-color: white;
  height: 100px;
}

button{
  width: 20%;
  padding:10px;
  background-color: #e06c52;
  border-style: hidden;
}

button:hover{
  background-color: #c34022;
}

input{
  border-style: none;
  width: 100%;
  height: 100%;
}

.prvaKolona{
  background-color: #eda891;
}

a{
  text-decoration: none;
}

@media screen and (max-width: 700px)
{
  button{
    display: block;
    margin-bottom: 2px;
    width: 50%;
    margin-left: 25%;
  }
}
