ul
  each val in #{korisnik}
    li
      =val.id + '. '+val.username
      if val.fk_roleId == #{nastavnik}
        button(onclick="verifikuj("+val.id+")")
          if val.verified == false
            Verifikuj
          else
            
  else      
    Ne postoje korisnici
  
