<link rel="stylesheet" type="text/css" href="../css/podstranice.css">
Key:<br>
<input type="text" id="key"></input><br>
Secret:<br>
<input type="text" id="secret"></input><br>
Naziv repozitorija:<br>
<input type="text" id="naziv"></intput><br>
Naziv branch-a:<br>
<input type="text" id="branch"></input><br>
Godina:<br>
<input type="text" id="godina"></input><br>
<button onclick="pozoviBitbucketApi()">Generisi listu</button><br>
