<link rel="stylesheet" type="text/css" href="../css/common.css">
<img src="logo.png" alt="Slika se nije ucitala">
<ul>
  <li onclick="logout()">Log out</li>
</ul>
<br>
Pretraga<br>
<input type="text" id='tekstPretrage'></input><br>
<button onclick='pretraga()'>Pretrazi</button>
