<link rel="stylesheet" type="text/css" href="../css/login.css">
<link rel="stylesheet" type="text/css" href="../css/common.css">
<div class="okvir">
  <div id="login">
    <form>
      <input id="username" type="email" name="login_email" placeholder="Username"><br>
      <input id="password" type="password" name="login_password" placeholder="Password"><br>
    </form>
    <button onclick="login()">Log In</button>
  </div>
  <div id="registration">
    <button id="registrujProfesora" onClick="vidiljivostForme(1)">Registruj profesora</button>
    <button id="registrujStudenta" onClick="vidiljivostForme(2)">Registruj studenta</button>
    <form id = "formaProfesor" action="/login" method="get">
      <input type="text" name="registrationP_imePrezime" placeholder="Ime i Prezime" onblur="valIme(this)"><br>
      <input type="text" name="registrationP_korisnickoIme" placeholder="Korisnicko Ime"><br>
      <input type="password" name="registrationP_password" placeholder="Password" onblur="valPassword(this)"><br>
      <input type="password" name="reistrationP_repeat_password" placeholder="Ponovite password" onblur="valPonovoPassword(true)"><br>
      <input type="email" name="registrationP_email" placeholder="E-mail" onblur="valFakultetski(this)"><br>
      <input type="number" name="registrationP_max_broj_grupa" placeholder="Maksimalni broj grupa" min=1 onblur="postGrupa(this)"><br>
      <input type="text" name="registrationP_regex" placeholder="Regex"><br>
      <select name="registrationP_Semestar" onblur="postSemestar(this)">
          <option value="Grupa1">Ljetni</option>
          <option value="Grupa2">Zimski</option>
      </select><br>
      <input type="text" name="registrationP_AkGod" placeholder="Akademska Godina" onblur="valAkademskuGodinu(this)"><br>
    </form>

    <form id = "formaStudent">
      <input type="text" name="registrationS_imePrezime" placeholder="Ime i Prezime" onblur="valIme(this)"><br>
      <input type="number" name="registrationS_index_number" placeholder="Broj indexa" onblur="valIndex(this)"><br>
      <input type="number" name="registrationS_group" placeholder="Grupa" min=1 onblur="valGrupu(this)"><br>
      <input type="text" name="registrationS_AkGod" placeholder="Akademska Godina" onblur="valAkademskuGodinu(this)"><br>
      <input type="password" name="registrationS_password" placeholder="Password" onblur="valPassword(this)"><br>
      <input type="password" name="reistrationS_repeat_password" placeholder="Ponovite password" onblur="valPonovoPassword( false )"><br>
      <input type="text" name="registrationS_bitbucketURL" placeholder="bitbucketURL" onblur="valURL(this)"><br>
      <input type="text" name="registrationS_bitbucketSSH" placeholder="bitbucketSSH" onblur="valSSH(this)"><br>
      <input type="text" name="registrationS_nazivRepozitorija" placeholder="Naziv repozitorija" onblur="valRepozitorij(this)"><br>
    </form>
    <button  name= "registrationS_submit_button" onclick="registruj()">Registruj se</button>
    <div id="errorDiv"></div>
    </div>
</div>
