<img src="logo.png" alt="Slika se nije ucitala">
<ul>
  <li onclick="logout()">Log out</li>
  <li onClick="pokusajAjax('unosSpiska')">Unos spiska</li>
  <li onClick="pokusajAjax('profesor')">Nastavnik</li>
  <li onClick="pokusajAjax('bitbucketPozivi')">Bitbucket pozivi</li>
</ul>
