<link rel="stylesheet" type="text/css" href="../css/podstranice.css">
Index:<br><input type="text" id="index"></input>
Spirala:<br><input type="text" id="spirala"></input>
<button onclick='generisiIzvjestaj()'>Generisi izvjestaj</button>
<button onclick="dajBodove()">Generisi bodove</button>
