<link rel="stylesheet" type="text/css" href="../css/statistika.css">
<link rel="stylesheet" type="text/css" href="../css/common.css">
<div class="okvir">
  <div class="naslov">
    <h1>WT code reviews</h1>
  </div>
  <div class="podnaslov">
    <h2>Statistike studenta</h2><p>Ime i prezime</p>
  </div>
  <div class="student_information">
    Broj indexa<br>
    Link na repozitorij<br>
    Prva parcijala  20<br>
    Druga parcijala 20<br>
  </div>
  <div class="table">
    <table>
      <tr>
        <th>X</th>
        <th>Spirala 1</th>
        <th>Spirala 2</th>
        <th>Spirala 3</th>
        <th>Spirala 4</th>
      </tr>
      <tr>
        <th>Student 1</th>
        <td><a href="">X1</a></td>
        <td><a href="">X2</a></td>
        <td><a href="">X3</a></td>
        <td><a href="">X4</a></td>
      </tr>
      <tr>
        <th>Student 2</th>
        <td><a href="">X1</a></td>
        <td><a href="">X2</a></td>
        <td><a href="">X3</a></td>
        <td><a href="">X4</a></td>
      </tr>
      <tr>
        <th>Student 3</th>
        <td><a href="">X1</a></td>
        <td><a href="">X2</a></td>
        <td><a href="">X3</a></td>
        <td><a href="">X4</a></td>
      </tr>
      <tr>
        <th>Student 4</th>
        <td><a href="" >X1</a></td>
        <td><a href="">X2</a></td>
        <td><a href="">X3</a></td>
        <td><a href="">X4</a></td>
      </tr>
      <tr>
        <th>Student 5</th>
        <td><a href="">X1</a></td>
        <td><a href="">X2</a></td>
        <td><a href="">X3</a></td>
        <td><a href="">X4</a></td>
      </tr>

    </table>
  </div>
  <div class="comments_title">
    <h1>Komentari</h1>
  </div>
  <div class="comments">
    <div class="comments_spirala">
      <h2>Spirala 1</h2>
    </div>
    <div class="commnet1"><textarea>Komentar 1</textarea></div>
    <div class="commnet2"><textarea>Komentar 2</textarea></div>
    <div class="commnet3"><textarea>Komentar 3</textarea></div>
    <div class="commnet4"><textarea>Komentar 4</textarea></div>
    <div class="commnet5"><textarea>Komentar 5</textarea></div>
  </div>
  <div class="page_buttons">
    <button name="<<"> &lt;&lt; </button>
    <button name="1">1</button>
    <button name="2">2</button>
    <button name="3">3</button>
    <button name="4">4</button>
    <button name=">>"> >> </button>
  </div>
</div>
