<img src="logo.png" alt="Slika se nije ucitala">
  <ul>
    <li onclick="logout()">Log out</li>
    <li onClick="pokusajAjax('statistika')">Statistika</li>
    <li onClick="pokusajAjax('unoskomentara')">Unos komentara</li>
</ul>
