
<link rel="stylesheet" type="text/css" href="../css/unoskomentara.css">
<link rel="stylesheet" type="text/css" href="../css/common.css">
<link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">

<div class="okvir">
  Spirala<br>
  <input type="number"  min=1 max=4 value=1 id="brojSpirale"></input>
  Vas broj indexa:<br>
  <input type="text" id="brojIndexa"></input>
  <div class="table">
    <table id="tabela">
      <tr>
        <th></th>
        <th>Sifra studenta</th>
        <th>Link repozitorija</th>
        <th>Tekst</th>
	<th></th>
        <th></th>
      </tr>
      <tr>
        <td class= "prvaKolona">Student 1</td>
        <td>A</td>
        <td><a href="">Link</a></td>
        <td><input type="text" name="komentar1"></td>
        <td><i class="fa fa-thumbs-o-up" aria-hidden="true" onclick="pomjeriGore(this)"></i></td>
        <td><i class="fa fa-thumbs-o-down" aria-hidden="true" onclick="pomjeriDole(this)"></i></td>
      </tr>
      <tr>
        <td class= "prvaKolona">Student 2</td>
        <td>B</td>
        <td><a href="">Link</a></td>
        <td><input type="text" name="komentar2"></td>
        <td><i class="fa fa-thumbs-o-up" aria-hidden="true" onclick="pomjeriGore(this)"></i></td>
        <td><i class="fa fa-thumbs-o-down" aria-hidden="true" onclick="pomjeriDole(this)"></i></td>
      </tr>
      <tr>
        <td class= "prvaKolona">Strudent 3</td>
        <td>C</td>
        <td><a href="">Link</a></td>
        <td><input type="text" name="komentar3"></td>
        <td><i class="fa fa-thumbs-o-up" aria-hidden="true" onclick="pomjeriGore(this)"></i></td>
        <td><i class="fa fa-thumbs-o-down" aria-hidden="true" onclick="pomjeriDole(this)"></i></td>
      </tr>
      <tr>
        <td class= "prvaKolona">Student4</td>
        <td>D</td>
        <td><a href="">Link</a></td>
        <td><input type="text" name="komentar4"></td>
        <td><i class="fa fa-thumbs-o-up" aria-hidden="true" onclick="pomjeriGore(this)"></i></td>
        <td><i class="fa fa-thumbs-o-down" aria-hidden="true" onclick="pomjeriDole(this)"></i></td>
      </tr>
      <tr>
        <td class= "prvaKolona">Studnet 5</td>
        <td>E</td>
        <td><a href="">Link</a></td>
        <td><input type="text" name="komentar5"></td>
        <td><i class="fa fa-thumbs-o-up" aria-hidden="true" onclick="pomjeriGore(this)"></i></td>
        <td><i class="fa fa-thumbs-o-down" aria-hidden="true" onclick="pomjeriDole(this)"></i></td>
      </tr>
    </table>
    <button onclick="potvrdiUnos()">Potvrdi</button>
  </div>
</div>
