
<link rel="stylesheet" type="text/css" href="../css/podstranice.css">
Spisak:
<textarea id="spisak"></textarea>
<input type="number" id="brojSpirale" value=1 min=1 max=4></input>
<button id="submit" onClick="ucitajPodatke()">Unesi</button>
